<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5-SITE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link href="./index.css" rel="stylesheet" crossorigin="anonymous">

</head>

<script>

    function enviarPergunta() {
        document.getElementById("idSpinner").style.visibility = 'visible'
        document.getElementById("idErro").innerHTML = 'Aguarde...';

        setInterval( function(){
            document.getElementById("idSpinner").style.visibility = 'hidden'
            document.getElementById("idErro").innerHTML = '';
        },3000)

    }

    function carregarDados() {
        document.getElementById("floatingEmail").value = localStorage.getItem("emailGreekGPT");
        document.getElementById("idSpinner").style.visibility = 'hidden'
    }

    function limparFormulario() {
    }

</script>


<!-- CSS CUSTOMIZADO -->
<style>
</style>


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
    </symbol>
</svg>

<body>

    <!-- INCLUSAO DO MENU -->
    <!-- <div id="conteudo-menu"></div> -->


    <!-- CORPO DA PAGINA -->
    <main class="px-2" style="vertical-align: left; padding: 10px;">
        <div class="content" style="text-align: left !important">

            <form class="was-validated">
              
                <h1>Filmes</h1>
                <strong>Rank dos Mais Votados</strong><br><br><br>

                <div>
                    <%_ dados.forEach(function(item, i, arr){ %>
                        <div>

                            <img src="<%- item.poster_path %>" width='355px' height='auto' alt="<%- item.title %>"><br>
                            
                            <table style="align-items: center;">
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="text-align: left;">
                                    <td style="color:rgb(255, 175, 55)">ID</td>
                                    <td><%- item.id %></td>
                                </tr>
                                <tr style="text-align: left;">
                                    <td style="color:rgb(255, 175, 55)">DATA</td>
                                    <td><%- item.release_date %></td>
                                </tr>
                                <tr style="text-align: left;">
                                    <td style="color:rgb(255, 175, 55)">TITULO</td>
                                    <td><%- item.title %></td>
                                </tr>
                                <tr style="text-align: left;">
                                    <td style="color:rgb(255, 175, 55)">GENEROS&nbsp;</td>
                                    <td><%- item.genre_names %></td>
                                </tr>
                                <tr style="text-align: left;">
                                    <td style="color:rgb(255, 175, 55)">PONTOS</td>
                                    <td><%- item.popularity %> / <%- item.vote_count %> / <%- item.vote_average %></td>
                                </tr>
                                <tr style="text-align: left;">
                                    <td style="color:rgb(255, 175, 55); vertical-align: top;">RESUMO</td>
                                    <td><%- item.overview %></td>
                                </tr>
                            </table>
                            <br>



                        </div>
                        <%_ }); %>

                </div>

                <!-- BOTOES -->
                <div id="idErro">
                    <%= dados.ERRO %>&nbsp;
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="enviarPergunta()">
                        <span class="spinner spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            id="idSpinner"></span>
                        Atualizar&nbsp;
                    </button>
                </div>
   
                <div><br><br><br><br></div>
            </form>



        </div>
    </main>



    <!-- INCLUINDO O RODAPÈ -->
    <!-- <div id="conteudo-rodape"></div> -->


    <!-- BLAK MODE / WITH MODE bottom-1 mb-3 me-3 tabindex="-1" -->
    <div class="position-fixed bottom-0 mb-1 me-1 " style="padding-top:8px">
        <button class="btn btn-sm py-2 d-flex" id="bd-theme" type="button" aria-expanded="false"
            aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                <use href="#circle-half"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
    </div>


    <!-- CODIGO EXECUTADO AO CARREGAR A PAGINA     -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script>

        function incluirConteudo() {
            let file = "./menu.html"
            fetch(file)
                .then(response => response.text())
                .then(data => {
                    const conteudoIncluido = document.getElementById('conteudo-menu');
                    conteudoIncluido.innerHTML = data;
                });

            let file2 = "./rodape.html"
            fetch(file2)
                .then(response => response.text())
                .then(data => {
                    const conteudoIncluido = document.getElementById('conteudo-rodape');
                    conteudoIncluido.innerHTML = data;
                });
        }

        document.getElementById('bd-theme').addEventListener('click', () => {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                document.documentElement.setAttribute('data-bs-theme', 'light')
            }
            else {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            }
        })

        // window.addEventListener('load', incluirConteudo());

        document.getElementById("idSpinner").style.visibility = 'hidden'
        // document.getElementById("floatingEmail").value = localStorage.getItem("emailGreekGPT");

    </script>



    <!-- FIM DA PAGINA -->
</body>

</html>